<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Autograph Load Testing Tool</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="http://nstielau.github.com/autograph/stylesheets/images/favicon.ico" />
  <!--Stylesheets-->
  <link href="./stylesheets/master.css" type="text/css" media="screen" rel="stylesheet" />
  <!--[if lt IE 8]><link rel="stylesheet" type="text/css" media="screen" href="http://nstielau.github.com/autograph/stylesheets/ie.css" /><![endif]-->
  <!--[if lte IE 6]><link rel="stylesheet" type="text/css" media="screen" href="http://nstielau.github.com/autograph/stylesheets/ie6.css" /><![endif]-->
  <script type="text/javascript" src="http://nstielau.github.com/autograph/js/jquery.js"></script>
  <script type="text/javascript" src="http://nstielau.github.com/autograph/js/jquery.flot.js"></script>
</head>
<body>
  <div id="wrapper">
    <div id="header" class="clear">
      <h1 id="title">Autograph</h1>
      <div id="description">
        <h2>Httperf-based load testing that's easy to use, easy to understand</h2>
      </div><!--end description-->
      <div id="nav">
        <ul>
        </ul>
      </div><!--end nav-->
    </div><!--end header-->
    <div id="content" class="pad">
    <div id="post">
      <div id="main" class="section">
        {{ content }}
      </div><!--end main-->
    </div><!--end post-->
  </div><!--end content-->
  <div id="sidebar">
    <ul>
      <li class="widget widget_recent_entries">
        <h2 class="widgettitle">Pages</h2>
        <ul>
          <li><a href="./index.html">Home</a></li>
          <li><a href="./reading.html">Recommended Reading</a></li>
          <li><a href="./example.html">Example Report</a></li>
        </ul>
      </li>
    </ul>
  </div><!--end sidebar-->
    <div id="footer">
      <p class="right">Generated fearlessly with <a href="http://nstielau.github.com/autograph">Autograph</a></p>
      <p>Theme modified from "Vigilance Theme" by <a href="http://thethemefoundry.com">The Theme Foundry</a></p>
    </div><!--end footer-->
  </div><!--end wrapper-->
  </body>
</html>