<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Autograph Load Testing Tool</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="http://nstielau.github.com/autograph/stylesheets/images/favicon.ico" />
  <!--Stylesheets-->
  <link href="./stylesheets/master.css" type="text/css" media="screen" rel="stylesheet" />
  <!--[if lt IE 8]><link rel="stylesheet" type="text/css" media="screen" href="http://nstielau.github.com/autograph/stylesheets/ie.css" /><![endif]-->
  <!--[if lte IE 6]><link rel="stylesheet" type="text/css" media="screen" href="http://nstielau.github.com/autograph/stylesheets/ie6.css" /><![endif]-->
  <script type="text/javascript" src="http://nstielau.github.com/autograph/js/jquery.js"></script>
  <script type="text/javascript" src="http://nstielau.github.com/autograph/js/jquery.flot.js"></script>
</head>
<body>
  <div id="wrapper">
    <div id="header" class="clear">
      <h1 id="title">Autograph</h1>
      <div id="description">
        <h2>Httperf-based load testing that's easy to use, easy to understand</h2>
      </div><!--end description-->
      <div id="nav">
        <ul>
        </ul>
      </div><!--end nav-->
    </div><!--end header-->
    <div id="content" class="pad">
    <div id="post">
      <div id="main" class="section">
        {{ content }}
      </div><!--end main-->
    </div><!--end post-->
  </div><!--end content-->
  <div id="sidebar">
    <ul>
      <li class="widget widget_recent_entries">
        <h2 class="widgettitle">Pages</h2>
        <ul>
          <li><a href="./index.html">Home</a></li>
          <li><a href="./ec2.html">Testing on EC2</a></li>
          <li><a href="./reading.html">Recommended Reading</a></li>
          <li><a href="./wordpress.html">Example Report #1</a><span>Default wordpress install</span></li>
          <li><a href="./wordpress-cached.html">Example Report #2</a><span>Default wordpress install with wp super-cache</span></li>
        </ul>
      </li>
    </ul>
  </div><!--end sidebar-->
    <div id="footer">
      <p class="right">Updated at {{ site.time }}</p>
      <p>Theme modified from "Vigilance Theme" by <a href="http://thethemefoundry.com">The Theme Foundry</a></p>
    </div><!--end footer-->
  </div><!--end wrapper-->
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-8727281-11']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  </body>
</html>